
{{% extends "base.html" %}}
{% block title %}Botones{% endblock %}


{% block content %}

<div class="container">
    <span class="counter" id="counter">00:00:00</div>
    <div class="grid-container">
        <button class="button" onclick="addNumber(1)">1</button>
        <button class="button" onclick="addNumber(2)">2</button>
        <button class="button" onclick="addNumber(3)">3</button>
        <button class="button" onclick="addNumber(4)">4</button>
        <button class="button" onclick="addNumber(5)">5</button>
        <button class="button" onclick="addNumber(6)">6</button>
        <button class="button" onclick="addNumber(7)">7</button>
        <button class="button" onclick="addNumber(8)">8</button>
        <button class="button" onclick="addNumber(9)">9</button>

        <button class="button" onclick="resetCounter()">X</button>
        <button class="button" onclick="addNumber(0)">0</button>
        <button class="button" onclick="resetCounter()">X</button>
    </div>
</div>
{% endblock %}

