
{% extends "base.html" %}
{% block title %}Botones{% endblock %}


{% block content %}

<div class="container">
    <span class="counter" id="counter">00:00:00</div>
    <div class="grid-container">
        <button class="button" onclick="incrementTimeBy(1)">1</button>
        <button class="button" onclick="incrementTimeBy(2)">2</button>
        <button class="button" onclick="incrementTimeBy(3)">3</button>
        <button class="button" onclick="incrementTimeBy(4)">4</button>
        <button class="button" onclick="incrementTimeBy(5)">5</button>
        <button class="button" onclick="incrementTimeBy(6)">6</button>
        <button class="button" onclick="incrementTimeBy(7)">7</button>
        <button class="button" onclick="incrementTimeBy(8)">8</button>
        <button class="button" onclick="incrementTimeBy(9)">9</button>

        <button class="button" onclick="resetCounter()">X</button>
        <button class="button" onclick="incrementTimeBy(0)">0</button>
        <button class="button" onclick="sendcheking()">r</button>
    </div>
</div>
{% endblock %}

