
{% extends "base.html" %}
{% block title %}Pix{% endblock %}
{% block content %}
    <div class="container">
        <div  class="counter">
            <p id="display">00:59:00</p>

        </div>
        <h3>Abra seu aplicativo e efetue seu pagamento via código QR</h3>
        <img src="{{ img }}" class="qr" alt="">

        <p>{{ total_pagar }} R$</p>

    </div>
    <script src="{{ url_for('static', filename='cro.js') }}"></script>

   
    <script>
        const eventSource = new EventSource('/pixcheck/{{ ID }}');

        eventSource.onmessage = function(event) {
            const newData = document.createElement('div');
            newData.textContent = 'Server Time: ' + event.data;
            if ( event.data === 'COMPLETED'){
                window.location.href = '/timer/{{ pedido_id }}'
            }
        };
    </script>
</body>


{% endblock %}
