
{% extends "base.html" %}
{% block title %}Pix{% endblock %}
{% block content %}
    <div class="container">
        <div  class="counter">
            <p id="display">00:59:00</p>

        </div>
        <img src="{{ img }}" class="qr" alt="">

        <p>{{ total_pagar }} R$</p>

    </div>
    <script src="{{ url_for('static', filename='cro.js') }}"></script>

    <script>
       const eventSource = new EventSource('/pixcheck/{{ID}}'); // Reemplaza {{ID}} con el valor correcto


        eventSource.onopen = function(event) {
            console.log('Conexión establecida con el servidor SSE');
        };

        

        eventSource.onmessage = function(event) {
            console.log('Mensaje recibido del servidor SSE:', event.data);
        
        // Parsear el mensaje recibido, si es necesario
        const data = JSON.parse(event.data);
        
        // Manejar el mensaje según su contenido
        if (data.status === 'ACTU') {
            console.log('El estado es COMPLET');
            window.location.href = '/timer';
        } else {
            console.log('El estado no es COMPLET');
            // Haz cualquier otra acción que necesites hacer
        }
    };
    </script>
</body>


{% endblock %}
